<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-800 text-white p-10">
        <form method="post" action="/login">

            <input class="px-2 py-2 rounded bg-transparent " type="email" placeholder="email" name="email">
            <input class="px-2 py-2 rounded bg-transparent " type="password" placeholder="password" name="password">
            <input type="submit" class="px-4 py-3 bg-blue-500" value="Login">
        </form>
    </div>
</body>

</html>